In [1]:
import pandas as pd
import numpy as np
import requests
import json
import folium
from bs4 import BeautifulSoup
from geopy.geocoders import Nominatim
import matplotlib.cm as cm
import matplotlib.colors as colors
from pandas.io.json import json_normalize
from sklearn.cluster import KMeans
print('Libraries imported.')

Libraries imported.

In [2]:
!wget -q -O 'newyork_data.json' https://cocl.us/new_york_dataset
print('Data downloaded!')

Data downloaded!

In [5]:
with open('newyork_data.json') as json_data:
    newyork_data = json.load(json_data)

In [6]:
neighborhoods_data = newyork_data['features']

In [7]:
neighborhoods_data[0]

{'type': 'Feature',
 'id': 'nyu_2451_34572.1',
 'geometry': {'type': 'Point',
  'coordinates': [-73.84720052054902, 40.89470517661]},
 'geometry_name': 'geom',
 'properties': {'name': 'Wakefield',
  'stacked': 1,
  'annoline1': 'Wakefield',
  'annoline2': None,
  'annoline3': None,
  'annoangle': 0.0,
  'borough': 'Bronx',
  'bbox': [-73.84720052054902,
   40.89470517661,
   -73.84720052054902,
   40.89470517661]}}

In [8]:
# define the dataframe columns
column_names = ['Borough', 'Neighborhood', 'Latitude', 'Longitude'] 

# instantiate the dataframe
neighborhoods = pd.DataFrame(columns=column_names)

In [9]:
for data in neighborhoods_data:
    borough = data['properties']['borough'] 
    neighborhood_name = data['properties']['name']
        
    neighborhood_latlon = data['geometry']['coordinates']
    neighborhood_lat = neighborhood_latlon[1]
    neighborhood_lon = neighborhood_latlon[0]
    
    neighborhoods = neighborhoods.append({'Borough': borough,
                                          'Neighborhood': neighborhood_name,
                                          'Latitude': neighborhood_lat,
                                          'Longitude': neighborhood_lon}, ignore_index=True)

In [20]:
neighborhoods.head()

  Borough Neighborhood   Latitude  Longitude
0   Bronx    Wakefield  40.894705 -73.847201
1   Bronx   Co-op City  40.874294 -73.829939
2   Bronx  Eastchester  40.887556 -73.827806
3   Bronx    Fieldston  40.895437 -73.905643
4   Bronx    Riverdale  40.890834 -73.912585

In [11]:
print('The dataframe has {} boroughs and {} neighborhoods.'.format(
        len(neighborhoods['Borough'].unique()),
        neighborhoods.shape[0]
    )
)

The dataframe has 5 boroughs and 306 neighborhoods.

In [12]:
address = 'New York City, NY'
geolocator = Nominatim(user_agent="ny_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of New York City are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of New York City are 40.7308619, -73.9871558.

### Define Fousquare Credentials and Versions

In [13]:
CLIENT_ID = 'FWRAAQDILXRO0OK05ZKNO4JN1WERLDNU20NAQSRBXEEZIOGB' # your Foursquare ID
CLIENT_SECRET = 'VD4HC2UPTO3VZSYPZZEPNPHO2YS4IJBN14NMZEUAY2PZI2QX' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: FWRAAQDILXRO0OK05ZKNO4JN1WERLDNU20NAQSRBXEEZIOGB
CLIENT_SECRET:VD4HC2UPTO3VZSYPZZEPNPHO2YS4IJBN14NMZEUAY2PZI2QX

In [19]:
def getNearbyVenues(names, latitudes, longitudes, radius=1000):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            limit)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [22]:
limit=200
ny_venues = getNearbyVenues(names=neighborhoods['Neighborhood'],
                                   latitudes=neighborhoods['Latitude'],
                                   longitudes=neighborhoods['Longitude']
                                  )

Wakefield
Co-op City
Eastchester
Fieldston
Riverdale
Kingsbridge
Marble Hill
Woodlawn
Norwood
Williamsbridge
Baychester
Pelham Parkway
City Island
Bedford Park
University Heights
Morris Heights
Fordham
East Tremont
West Farms
High  Bridge
Melrose
Mott Haven
Port Morris
Longwood
Hunts Point
Morrisania
Soundview
Clason Point
Throgs Neck
Country Club
Parkchester
Westchester Square
Van Nest
Morris Park
Belmont
Spuyten Duyvil
North Riverdale
Pelham Bay
Schuylerville
Edgewater Park
Castle Hill
Olinville
Pelham Gardens
Concourse
Unionport
Edenwald
Bay Ridge
Bensonhurst
Sunset Park
Greenpoint
Gravesend
Brighton Beach
Sheepshead Bay
Manhattan Terrace
Flatbush
Crown Heights
East Flatbush
Kensington
Windsor Terrace
Prospect Heights
Brownsville
Williamsburg
Bushwick
Bedford Stuyvesant
Brooklyn Heights
Cobble Hill
Carroll Gardens
Red Hook
Gowanus
Fort Greene
Park Slope
Cypress Hills
East New York
Starrett City
Canarsie
Flatlands
Mill Island
Manhattan Beach
Coney Island
Bath Beach
Borough Park
Dyker Heights
Gerritsen Beach
Marine Park
Clinton Hill
Sea Gate
Downtown
Boerum Hill
Prospect Lefferts Gardens
Ocean Hill
City Line
Bergen Beach
Midwood
Prospect Park South
Georgetown
East Williamsburg
North Side
South Side
Ocean Parkway
Fort Hamilton
Chinatown
Washington Heights
Inwood
Hamilton Heights
Manhattanville
Central Harlem
East Harlem
Upper East Side
Yorkville
Lenox Hill
Roosevelt Island
Upper West Side
Lincoln Square
Clinton
Midtown
Murray Hill
Chelsea
Greenwich Village
East Village
Lower East Side
Tribeca
Little Italy
Soho
West Village
Manhattan Valley
Morningside Heights
Gramercy
Battery Park City
Financial District
Astoria
Woodside
Jackson Heights
Elmhurst
Howard Beach
Corona
Forest Hills
Kew Gardens
Richmond Hill
Flushing
Long Island City
Sunnyside
East Elmhurst
Maspeth
Ridgewood
Glendale
Rego Park
Woodhaven
Ozone Park
South Ozone Park
College Point
Whitestone
Bayside
Auburndale
Little Neck
Douglaston
Glen Oaks
Bellerose
Kew Gardens Hills
Fresh Meadows
Briarwood
Jamaica Center
Oakland Gardens
Queens Village
Hollis
South Jamaica
St. Albans
Rochdale
Springfield Gardens
Cambria Heights
Rosedale
Far Rockaway
Broad Channel
Breezy Point
Steinway
Beechhurst
Bay Terrace
Edgemere
Arverne
Rockaway Beach
Neponsit
Murray Hill
Floral Park
Holliswood
Jamaica Estates
Queensboro Hill
Hillcrest
Ravenswood
Lindenwood
Laurelton
Lefrak City
Belle Harbor
Rockaway Park
Somerville
Brookville
Bellaire
North Corona
Forest Hills Gardens
St. George
New Brighton
Stapleton
Rosebank
West Brighton
Grymes Hill
Todt Hill
South Beach
Port Richmond
Mariner's Harbor
Port Ivory
Castleton Corners
New Springville
Travis
New Dorp
Oakwood
Great Kills
Eltingville
Annadale
Woodrow
Tottenville
Tompkinsville
Silver Lake
Sunnyside
Ditmas Park
Wingate
Rugby
Park Hill
Westerleigh
Graniteville
Arlington
Arrochar
Grasmere
Old Town
Dongan Hills
Midland Beach
Grant City
New Dorp Beach
Bay Terrace
Huguenot
Pleasant Plains
Butler Manor
Charleston
Rossville
Arden Heights
Greenridge
Heartland Village
Chelsea
Bloomfield
Bulls Head
Carnegie Hill
Noho
Civic Center
Midtown South
Richmond Town
Shore Acres
Clifton
Concord
Emerson Hill
Randall Manor
Howland Hook
Elm Park
Remsen Village
New Lots
Paerdegat Basin
Mill Basin
Jamaica Hills
Utopia
Pomonok
Astoria Heights
Claremont Village
Concourse Village
Mount Eden
Mount Hope
Sutton Place
Hunters Point
Turtle Bay
Tudor City
Stuyvesant Town
Flatiron
Sunnyside Gardens
Blissville
Fulton Ferry
Vinegar Hill
Weeksville
Broadway Junction
Dumbo
Manor Heights
Willowbrook
Sandy Ground
Egbertville
Roxbury
Homecrest
Middle Village
Prince's Bay
Lighthouse Hill
Richmond Valley
Malba
Highland Park
Madison
Bronxdale
Allerton
Kingsbridge Heights
Erasmus
Hudson Yards
Hammels
Bayswater
Queensbridge
Fox Hills

In [24]:
ny_venues.shape

(10241, 7)

In [62]:
ny_venues.head()

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Wakefield,40.894705,-73.847201,Lollipops Gelato,40.894123,-73.845892,Dessert Shop
1,Wakefield,40.894705,-73.847201,Rite Aid,40.896521,-73.844680,Pharmacy
2,Wakefield,40.894705,-73.847201,Carvel Ice Cream,40.890487,-73.848568,Ice Cream Shop
3,Wakefield,40.894705,-73.847201,Dunkin Donuts,40.890631,-73.849027,Donut Shop
4,Wakefield,40.894705,-73.847201,SUBWAY,40.890656,-73.849192,Sandwich Place

In [39]:
x=pd.DataFrame(ny_venues['Neighborhood'].value_counts())

In [42]:
ny_venues.groupby('Neighborhood').count()

,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
Neighborhood,,,,,,
Allerton,32,32,32,32,32,32
Annadale,9,9,9,9,9,9
Arden Heights,5,5,5,5,5,5
Arlington,8,8,8,8,8,8
Arrochar,20,20,20,20,20,20
Arverne,15,15,15,15,15,15
Astoria,100,100,100,100,100,100
Astoria Heights,14,14,14,14,14,14
Auburndale,21,21,21,21,21,21
Bath Beach,54,54,54,54,54,54
Battery Park City,100,100,100,100,100,100
Bay Ridge,87,87,87,87,87,87
Bay Terrace,50,50,50,50,50,50
Baychester,19,19,19,19,19,19
Bayside,72,72,72,72,72,72
Bayswater,3,3,3,3,3,3
Bedford Park,39,39,39,39,39,39
Bedford Stuyvesant,27,27,27,27,27,27
Beechhurst,16,16,16,16,16,16
Bellaire,15,15,15,15,15,15
Belle Harbor,17,17,17,17,17,17
Bellerose,21,21,21,21,21,21
Belmont,99,99,99,99,99,99
Bensonhurst,31,31,31,31,31,31
Bergen Beach,8,8,8,8,8,8
Blissville,21,21,21,21,21,21
Bloomfield,4,4,4,4,4,4
Boerum Hill,84,84,84,84,84,84
Borough Park,20,20,20,20,20,20
Breezy Point,7,7,7,7,7,7
...,...,...,...,...,...,...
Travis,13,13,13,13,13,13
Tribeca,100,100,100,100,100,100
Tudor City,82,82,82,82,82,82
Turtle Bay,100,100,100,100,100,100
Unionport,20,20,20,20,20,20
University Heights,24,24,24,24,24,24
Upper East Side,100,100,100,100,100,100
Upper West Side,100,100,100,100,100,100
Utopia,17,17,17,17,17,17
Van Nest,20,20,20,20,20,20
Vinegar Hill,32,32,32,32,32,32
Wakefield,9,9,9,9,9,9
Washington Heights,88,88,88,88,88,88
Weeksville,15,15,15,15,15,15
West Brighton,38,38,38,38,38,38
West Farms,19,19,19,19,19,19
West Village,100,100,100,100,100,100
Westchester Square,30,30,30,30,30,30
Westerleigh,2,2,2,2,2,2
Whitestone,4,4,4,4,4,4
Williamsbridge,5,5,5,5,5,5
Williamsburg,30,30,30,30,30,30
Willowbrook,9,9,9,9,9,9
Windsor Terrace,25,25,25,25,25,25
Wingate,22,22,22,22,22,22
Woodhaven,23,23,23,23,23,23
Woodlawn,24,24,24,24,24,24
Woodrow,18,18,18,18,18,18
Woodside,73,73,73,73,73,73
Yorkville,100,100,100,100,100,100

In [44]:
print('There are {} uniques categories.'.format(len(ny_venues['Venue Category'].unique())))

There are 431 uniques categories.

## Analyze each Neighborhood

In [83]:
# one hot encoding
ny_onehot = pd.get_dummies(ny_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
ny_onehot['Neighborhood'] = ny_venues['Neighborhood'] 

ny_onehot.head()

,Accessories Store,Adult Boutique,Afghan Restaurant,African Restaurant,Airport Terminal,Airport Tram,American Restaurant,Animal Shelter,Antique Shop,Arcade,...,Waste Facility,Watch Shop,Waterfront,Weight Loss Center,Whisky Bar,Wine Bar,Wine Shop,Wings Joint,Women's Store,Yoga Studio
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [79]:
i=tuple(ny_onehot.columns.values)
i.index('Neighborhood')

266

In [81]:
fixed_columns = [ny_onehot.columns[266]] + list(ny_onehot.columns[:265]) + list(ny_onehot.columns[267:])
ny_onehot = ny_onehot[fixed_columns]

In [76]:
fixed_columns = [ny_onehot.columns[266]] + list(ny_onehot.columns[:265]) + list(ny_onehot.columns[267:])
ny_onehot = ny_onehot[fixed_columns]

In [82]:
ny_onehot.head()

,Neighborhood,Accessories Store,Adult Boutique,Afghan Restaurant,African Restaurant,Airport Terminal,Airport Tram,American Restaurant,Animal Shelter,Antique Shop,...,Waste Facility,Watch Shop,Waterfront,Weight Loss Center,Whisky Bar,Wine Bar,Wine Shop,Wings Joint,Women's Store,Yoga Studio
0,Wakefield,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Wakefield,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Wakefield,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Wakefield,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Wakefield,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [84]:
ny_onehot.shape

(10241, 431)

In [85]:
ny_grouped = ny_onehot.groupby('Neighborhood').mean().reset_index()
ny_grouped

,Neighborhood,Accessories Store,Adult Boutique,Afghan Restaurant,African Restaurant,Airport Terminal,Airport Tram,American Restaurant,Animal Shelter,Antique Shop,...,Waste Facility,Watch Shop,Waterfront,Weight Loss Center,Whisky Bar,Wine Bar,Wine Shop,Wings Joint,Women's Store,Yoga Studio
0,Allerton,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.031250,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
1,Annadale,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
2,Arden Heights,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
3,Arlington,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.125000,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
4,Arrochar,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
5,Arverne,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
6,Astoria,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.010000,0.000000,0.000000,0.000000
7,Astoria Heights,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
8,Auburndale,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.047619,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
9,Bath Beach,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.000000,0.000000,0.037037,0.000000
10,Battery Park City,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.010000,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.010000,0.030000,0.000000,0.020000,0.000000
11,Bay Ridge,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.034483,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
12,Bay Terrace,0.020000,0.0,0.000000,0.000000,0.000000,0.0,0.020000,0.0,0.000000,...,0.0,0.0,0.0,0.02,0.00000,0.000000,0.000000,0.000000,0.060000,0.000000
13,Baychester,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.052632,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
14,Bayside,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.041667,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.013889,0.000000,0.000000,0.000000,0.013889
15,Bayswater,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
16,Bedford Park,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
17,Bedford Stuyvesant,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.037037,0.037037,0.000000,0.000000,0.000000
18,Beechhurst,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.000000,0.000000,0.000000,0.062500
19,Bellaire,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
20,Belle Harbor,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
21,Bellerose,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.047619,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.047619,0.000000,0.000000,0.000000
22,Belmont,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.010101,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.000000,0.010101,0.000000,0.000000
23,Bensonhurst,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
24,Bergen Beach,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
25,Blissville,0.000000,0.0,0.000000,0.000000,0.047619,0.0,0.000000,0.0,0.047619,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
26,Bloomfield,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
27,Boerum Hill,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.011905,0.0,0.011905,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.011905,0.000000,0.000000,0.023810
28,Borough Park,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.050000,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
29,Breezy Point,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,Travis,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
272,Tribeca,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.050000,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.01000,0.030000,0.020000,0.000000,0.000000,0.010000
273,Tudor City,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.024390,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.000000,0.000000,0.000000,0.012195
274,Turtle Bay,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.020000,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.040000,0.000000,0.000000,0.000000,0.000000
275,Unionport,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
276,University Heights,0.000000,0.0,0.000000,0.041667,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.000000,0.041667,0.000000,0.000000
277,Upper East Side,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.020000,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.020000,0.000000,0.010000,0.020000
278,Upper West Side,0.010000,0.0,0.000000,0.000000,0.000000,0.0,0.020000,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.030000,0.000000,0.000000,0.000000,0.010000
279,Utopia,0.000000,0.0,0.058824,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
280,Van Nest,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
281,Vinegar Hill,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.031250,0.0,0.031250,...,0.0,0.0,0.0,0.00,0.03125,0.031250,0.062500,0.000000,0.000000,0.031250
282,Wakefield,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
283,Washington Heights,0.011364,0.0,0.000000,0.000000,0.000000,0.0,0.011364,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.011364,0.022727,0.000000,0.011364,0.000000
284,Weeksville,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.066667,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
285,West Brighton,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.052632,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.000000,0.026316,0.000000,0.000000
286,West Farms,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
287,West Village,0.010000,0.0,0.000000,0.000000,0.000000,0.0,0.030000,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.040000,0.000000,0.000000,0.000000,0.000000
288,Westchester Square,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
289,Westerleigh,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
290,Whitestone,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
291,Williamsbridge,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
292,Williamsburg,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.000000,0.000000,0.000000,0.033333
293,Willowbrook,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
294,Windsor Terrace,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.040000,0.0,0.040000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.040000,0.000000,0.000000,0.000000
295,Wingate,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
296,Woodhaven,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
297,Woodlawn,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
298,Woodrow,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
299,Woodside,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.041096,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.000000,0.013699,0.000000,0.000000,0.000000
300,Yorkville,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.00,0.00000,0.020000,0.020000,0.000000,0.000000,0.000000

In [86]:
col_name=[]
for col in ny_grouped.columns.values:
    if "Restaurant" in col:
        col_name.append(col)

In [87]:
col_name[0:10]

['Afghan Restaurant',
 'African Restaurant',
 'American Restaurant',
 'Arepa Restaurant',
 'Argentinian Restaurant',
 'Asian Restaurant',
 'Australian Restaurant',
 'Austrian Restaurant',
 'Belgian Restaurant',
 'Brazilian Restaurant']

In [95]:
ny_grouped_1 =  ny_grouped.loc[:,col_name]

In [96]:
print(ny_grouped_1.shape)
ny_grouped_1.head()

(301, 92)

,Afghan Restaurant,African Restaurant,American Restaurant,Arepa Restaurant,Argentinian Restaurant,Asian Restaurant,Australian Restaurant,Austrian Restaurant,Belgian Restaurant,Brazilian Restaurant,...,Taiwanese Restaurant,Tapas Restaurant,Tex-Mex Restaurant,Thai Restaurant,Tibetan Restaurant,Turkish Restaurant,Udon Restaurant,Vegetarian / Vegan Restaurant,Venezuelan Restaurant,Vietnamese Restaurant
0,0.0,0.0,0.03125,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.12500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [97]:
ny_grouped_1['Neighborhood'] = ny_grouped['Neighborhood']

In [98]:
fixed_columns = [ny_grouped_1.columns[-1]] + list(ny_grouped_1.columns[:-1])
ny_grouped_1 = ny_grouped_1[fixed_columns]

ny_grouped_1.head()

,Neighborhood,Afghan Restaurant,African Restaurant,American Restaurant,Arepa Restaurant,Argentinian Restaurant,Asian Restaurant,Australian Restaurant,Austrian Restaurant,Belgian Restaurant,...,Taiwanese Restaurant,Tapas Restaurant,Tex-Mex Restaurant,Thai Restaurant,Tibetan Restaurant,Turkish Restaurant,Udon Restaurant,Vegetarian / Vegan Restaurant,Venezuelan Restaurant,Vietnamese Restaurant
0,Allerton,0.0,0.0,0.03125,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Annadale,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Arden Heights,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Arlington,0.0,0.0,0.12500,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Arrochar,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [99]:
num_top_venues = 5

for hood in ny_grouped_1['Neighborhood']:
    print("----"+hood+"----")
    temp = ny_grouped_1[ny_grouped_1['Neighborhood'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----Allerton----
                  venue  freq
0    Chinese Restaurant  0.06
1   American Restaurant  0.03
2  Fast Food Restaurant  0.03
3    Spanish Restaurant  0.03
4     Afghan Restaurant  0.00


----Annadale----
                     venue  freq
0               Restaurant  0.11
1        Afghan Restaurant  0.00
2  New American Restaurant  0.00
3         Ramen Restaurant  0.00
4    Portuguese Restaurant  0.00


----Arden Heights----
                     venue  freq
0        Afghan Restaurant   0.0
1  New American Restaurant   0.0
2               Restaurant   0.0
3         Ramen Restaurant   0.0
4    Portuguese Restaurant   0.0


----Arlington----
                     venue  freq
0      American Restaurant  0.12
1        Afghan Restaurant  0.00
2  New American Restaurant  0.00
3               Restaurant  0.00
4         Ramen Restaurant  0.00


----Arrochar----
                       venue  freq
0         Italian Restaurant  0.10
1   Mediterranean Restaurant  0.05
2  Middle Eastern Restaurant  0.05
3          Afghan Restaurant  0.00
4    North Indian Restaurant  0.00


----Arverne----
                   venue  freq
0        Thai Restaurant  0.07
1      Afghan Restaurant  0.00
2    Moroccan Restaurant  0.00
3       Ramen Restaurant  0.00
4  Portuguese Restaurant  0.00


----Astoria----
                       venue  freq
0  Middle Eastern Restaurant  0.07
1           Greek Restaurant  0.05
2         Seafood Restaurant  0.04
3         Italian Restaurant  0.03
4  Latin American Restaurant  0.02


----Astoria Heights----
                     venue  freq
0       Italian Restaurant  0.07
1       Chinese Restaurant  0.07
2        Afghan Restaurant  0.00
3  North Indian Restaurant  0.00
4               Restaurant  0.00


----Auburndale----
                     venue  freq
0        Korean Restaurant  0.05
1      American Restaurant  0.05
2     Fast Food Restaurant  0.05
3       Italian Restaurant  0.05
4  New American Restaurant  0.00


----Bath Beach----
                  venue  freq
0    Chinese Restaurant  0.07
1  Fast Food Restaurant  0.04
2    Italian Restaurant  0.04
3      Sushi Restaurant  0.04
4     German Restaurant  0.02


----Battery Park City----
                      venue  freq
0        Italian Restaurant  0.03
1       American Restaurant  0.01
2        Seafood Restaurant  0.01
3  Mediterranean Restaurant  0.01
4        Mexican Restaurant  0.01


----Bay Ridge----
                 venue  freq
0   Italian Restaurant  0.08
1  American Restaurant  0.03
2     Greek Restaurant  0.03
3   Seafood Restaurant  0.02
4     Sushi Restaurant  0.02


----Bay Terrace----
                    venue  freq
0     American Restaurant  0.02
1              Restaurant  0.02
2        Asian Restaurant  0.02
3  Gluten-free Restaurant  0.02
4        Sushi Restaurant  0.02


----Baychester----
                  venue  freq
0   American Restaurant  0.05
1  Fast Food Restaurant  0.05
2    Mexican Restaurant  0.05
3    Spanish Restaurant  0.05
4     Afghan Restaurant  0.00


----Bayside----
                 venue  freq
0  American Restaurant  0.04
1    Indian Restaurant  0.04
2     Greek Restaurant  0.04
3   Chinese Restaurant  0.03
4   Mexican Restaurant  0.03


----Bayswater----
                     venue  freq
0        Afghan Restaurant   0.0
1  New American Restaurant   0.0
2               Restaurant   0.0
3         Ramen Restaurant   0.0
4    Portuguese Restaurant   0.0


----Bedford Park----
                venue  freq
0  Chinese Restaurant  0.10
1  Mexican Restaurant  0.08
2  Spanish Restaurant  0.03
3   Afghan Restaurant  0.00
4   Paella Restaurant  0.00


----Bedford Stuyvesant----
                     venue  freq
0    Vietnamese Restaurant  0.04
1  New American Restaurant  0.04
2      Japanese Restaurant  0.04
3               Restaurant  0.00
4         Ramen Restaurant  0.00


----Beechhurst----
                     venue  freq
0       Chinese Restaurant  0.12
1       Italian Restaurant  0.06
2        Afghan Restaurant  0.00
3  North Indian Restaurant  0.00
4               Restaurant  0.00


----Bellaire----
                venue  freq
0  Italian Restaurant  0.07
1  Chinese Restaurant  0.07
2    Greek Restaurant  0.07
3   Afghan Restaurant  0.00
4   Paella Restaurant  0.00


----Belle Harbor----
                     venue  freq
0       Italian Restaurant  0.06
1       Mexican Restaurant  0.06
2       Chinese Restaurant  0.06
3        Afghan Restaurant  0.00
4  North Indian Restaurant  0.00


----Bellerose----
                  venue  freq
0    Italian Restaurant  0.10
1    Chinese Restaurant  0.10
2   American Restaurant  0.05
3  Fast Food Restaurant  0.05
4     Afghan Restaurant  0.00


----Belmont----
                 venue  freq
0   Italian Restaurant  0.19
1           Restaurant  0.04
2   Mexican Restaurant  0.03
3   Spanish Restaurant  0.02
4  American Restaurant  0.01


----Bensonhurst----
                    venue  freq
0      Chinese Restaurant  0.10
1        Sushi Restaurant  0.06
2      Italian Restaurant  0.03
3  Shabu-Shabu Restaurant  0.03
4     Dumpling Restaurant  0.03


----Bergen Beach----
                     venue  freq
0        Afghan Restaurant   0.0
1  New American Restaurant   0.0
2               Restaurant   0.0
3         Ramen Restaurant   0.0
4    Portuguese Restaurant   0.0


----Blissville----
                   venue  freq
0             Restaurant  0.05
1        Thai Restaurant  0.05
2    Moroccan Restaurant  0.00
3       Ramen Restaurant  0.00
4  Portuguese Restaurant  0.00


----Bloomfield----
                     venue  freq
0        Afghan Restaurant   0.0
1  New American Restaurant   0.0
2               Restaurant   0.0
3         Ramen Restaurant   0.0
4    Portuguese Restaurant   0.0


----Boerum Hill----
                       venue  freq
0          French Restaurant  0.04
1  Middle Eastern Restaurant  0.02
2         Tex-Mex Restaurant  0.01
3         Italian Restaurant  0.01
4         Chinese Restaurant  0.01


----Borough Park----
                     venue  freq
0     Fast Food Restaurant  0.10
1      American Restaurant  0.05
2               Restaurant  0.05
3        Afghan Restaurant  0.00
4  North Indian Restaurant  0.00


----Breezy Point----
                     venue  freq
0        Afghan Restaurant   0.0
1  New American Restaurant   0.0
2               Restaurant   0.0
3         Ramen Restaurant   0.0
4    Portuguese Restaurant   0.0


----Briarwood----
                     venue  freq
0     Fast Food Restaurant  0.08
1       Mexican Restaurant  0.08
2        Indian Restaurant  0.08
3        Afghan Restaurant  0.00
4  North Indian Restaurant  0.00


----Brighton Beach----
                         venue  freq
0  Eastern European Restaurant  0.07
1                   Restaurant  0.07
2           Russian Restaurant  0.05
3         Fast Food Restaurant  0.05
4             Sushi Restaurant  0.05


----Broad Channel----
                     venue  freq
0        Afghan Restaurant   0.0
1  New American Restaurant   0.0
2               Restaurant   0.0
3         Ramen Restaurant   0.0
4    Portuguese Restaurant   0.0


----Broadway Junction----
                  venue  freq
0    Seafood Restaurant  0.06
1  Caribbean Restaurant  0.06
2     Afghan Restaurant  0.00
3    Russian Restaurant  0.00
4            Restaurant  0.00


----Bronxdale----
                         venue  freq
0           Italian Restaurant  0.13
1  Eastern European Restaurant  0.07
2           Mexican Restaurant  0.07
3           Spanish Restaurant  0.07
4           Chinese Restaurant  0.07


----Brooklyn Heights----
                 venue  freq
0   Italian Restaurant  0.05
1    Indian Restaurant  0.02
2  American Restaurant  0.02
3   Mexican Restaurant  0.02
4     Asian Restaurant  0.02


----Brookville----
                     venue  freq
0        Afghan Restaurant   0.0
1  New American Restaurant   0.0
2               Restaurant   0.0
3         Ramen Restaurant   0.0
4    Portuguese Restaurant   0.0


----Brownsville----
                     venue  freq
0               Restaurant  0.11
1       Spanish Restaurant  0.06
2  New American Restaurant  0.00
3         Ramen Restaurant  0.00
4    Portuguese Restaurant  0.00


----Bulls Head----
                  venue  freq
0    Chinese Restaurant  0.07
1   Japanese Restaurant  0.05
2      Sushi Restaurant  0.02
3  Fast Food Restaurant  0.02
4    Italian Restaurant  0.02


----Bushwick----
                       venue  freq
0         Mexican Restaurant  0.07
1    New American Restaurant  0.03
2         Chinese Restaurant  0.03
3         Italian Restaurant  0.03
4  Latin American Restaurant  0.01


----Butler Manor----
                     venue  freq
0        Afghan Restaurant   0.0
1  New American Restaurant   0.0
2               Restaurant   0.0
3         Ramen Restaurant   0.0
4    Portuguese Restaurant   0.0


----Cambria Heights----
                     venue  freq
0     Caribbean Restaurant  0.23
1               Restaurant  0.08
2        Afghan Restaurant  0.00
3  North Indian Restaurant  0.00
4         Ramen Restaurant  0.00


----Canarsie----
                  venue  freq
0  Caribbean Restaurant  0.17
1      Asian Restaurant  0.17
2    Chinese Restaurant  0.17
3     Afghan Restaurant  0.00
4   Romanian Restaurant  0.00


----Carnegie Hill----
                   venue  freq
0    Japanese Restaurant  0.03
1      French Restaurant  0.03
2  Vietnamese Restaurant  0.02
3     Mexican Restaurant  0.02
4     Italian Restaurant  0.02


----Carroll Gardens----
                 venue  freq
0   Italian Restaurant  0.11
1    French Restaurant  0.02
2      Thai Restaurant  0.02
3     Sushi Restaurant  0.01
4  Filipino Restaurant  0.01


----Castle Hill----
                       venue  freq
0  Latin American Restaurant   0.1
1          Afghan Restaurant   0.0
2    New American Restaurant   0.0
3                 Restaurant   0.0
4           Ramen Restaurant   0.0


----Castleton Corners----
                     venue  freq
0      Japanese Restaurant  0.06
1        Afghan Restaurant  0.00
2  New American Restaurant  0.00
3               Restaurant  0.00
4         Ramen Restaurant  0.00


----Central Harlem----
                 venue  freq
0   African Restaurant  0.07
1   Seafood Restaurant  0.05
2   Chinese Restaurant  0.05
3  American Restaurant  0.05
4    French Restaurant  0.05


----Charleston----
                     venue  freq
0      Japanese Restaurant  0.03
1               Restaurant  0.03
2        Afghan Restaurant  0.00
3  New American Restaurant  0.00
4         Ramen Restaurant  0.00


----Chelsea----
                 venue  freq
0   Italian Restaurant  0.06
1  American Restaurant  0.04
2   Seafood Restaurant  0.03
3     Asian Restaurant  0.02
4     Tapas Restaurant  0.02


----Chinatown----
                   venue  freq
0     Chinese Restaurant  0.09
1  Vietnamese Restaurant  0.04
2    American Restaurant  0.04
3     Dim Sum Restaurant  0.04
4      Hotpot Restaurant  0.03


----City Island----
                 venue  freq
0   Seafood Restaurant  0.09
1  American Restaurant  0.04
2   Italian Restaurant  0.04
3    French Restaurant  0.04
4   Spanish Restaurant  0.04


----City Line----
                       venue  freq
0  Latin American Restaurant  0.03
1       Fast Food Restaurant  0.03
2         Mexican Restaurant  0.03
3  South American Restaurant  0.03
4           Cuban Restaurant  0.03


----Civic Center----
                 venue  freq
0   Italian Restaurant  0.05
1    French Restaurant  0.04
2   Falafel Restaurant  0.02
3  American Restaurant  0.02
4     Sushi Restaurant  0.02


----Claremont Village----
                  venue  freq
0    Chinese Restaurant  0.11
1  Caribbean Restaurant  0.06
2     Afghan Restaurant  0.00
3    Russian Restaurant  0.00
4            Restaurant  0.00


----Clason Point----
                       venue  freq
0  South American Restaurant   0.1
1          Afghan Restaurant   0.0
2    New American Restaurant   0.0
3           Ramen Restaurant   0.0
4      Portuguese Restaurant   0.0


----Clifton----
                         venue  freq
0  Eastern European Restaurant  0.07
1           Mexican Restaurant  0.07
2    Cajun / Creole Restaurant  0.07
3           Chinese Restaurant  0.07
4            Afghan Restaurant  0.00


----Clinton----
                     venue  freq
0       Italian Restaurant  0.04
1      American Restaurant  0.04
2  New American Restaurant  0.02
3       Seafood Restaurant  0.02
4        French Restaurant  0.02


----Clinton Hill----
                 venue  freq
0   Italian Restaurant  0.05
1   Chinese Restaurant  0.03
2      Thai Restaurant  0.03
3    Indian Restaurant  0.03
4  Japanese Restaurant  0.03


----Co-op City----
                     venue  freq
0               Restaurant  0.09
1        Afghan Restaurant  0.00
2  New American Restaurant  0.00
3         Ramen Restaurant  0.00
4    Portuguese Restaurant  0.00


----Cobble Hill----
                      venue  freq
0        Italian Restaurant  0.04
1  Mediterranean Restaurant  0.02
2         French Restaurant  0.02
3       American Restaurant  0.02
4        Mexican Restaurant  0.02


----College Point----
                       venue  freq
0  Latin American Restaurant  0.06
1           Asian Restaurant  0.04
2       Caribbean Restaurant  0.02
3         Seafood Restaurant  0.02
4         Chinese Restaurant  0.02


----Concord----
                     venue  freq
0       Italian Restaurant  0.11
1      Peruvian Restaurant  0.11
2        Afghan Restaurant  0.00
3  New American Restaurant  0.00
4               Restaurant  0.00


----Concourse----
                  venue  freq
0  Caribbean Restaurant  0.04
1    Italian Restaurant  0.04
2     Afghan Restaurant  0.00
3            Restaurant  0.00
4      Ramen Restaurant  0.00


----Concourse Village----
                  venue  freq
0  Fast Food Restaurant  0.09
1    Mexican Restaurant  0.09
2    Italian Restaurant  0.03
3     Indian Restaurant  0.03
4    Chinese Restaurant  0.03


----Coney Island----
                     venue  freq
0     Caribbean Restaurant  0.11
1        Afghan Restaurant  0.00
2  North Indian Restaurant  0.00
3               Restaurant  0.00
4         Ramen Restaurant  0.00


----Corona----
                       venue  freq
0         Mexican Restaurant  0.15
1                 Restaurant  0.05
2         Italian Restaurant  0.05
3  South American Restaurant  0.05
4        Empanada Restaurant  0.05


----Country Club----
                     venue  freq
0        Afghan Restaurant   0.0
1  New American Restaurant   0.0
2               Restaurant   0.0
3         Ramen Restaurant   0.0
4    Portuguese Restaurant   0.0


----Crown Heights----
                     venue  freq
0        Afghan Restaurant   0.0
1  New American Restaurant   0.0
2               Restaurant   0.0
3         Ramen Restaurant   0.0
4    Portuguese Restaurant   0.0


----Cypress Hills----
                       venue  freq
0  Latin American Restaurant  0.11
1       Fast Food Restaurant  0.11
2         Spanish Restaurant  0.07
3       Caribbean Restaurant  0.04
4         Mexican Restaurant  0.04


----Ditmas Park----
                       venue  freq
0       Caribbean Restaurant  0.06
1         Chinese Restaurant  0.04
2  Latin American Restaurant  0.02
3           Ramen Restaurant  0.02
4        Japanese Restaurant  0.02


----Dongan Hills----
                  venue  freq
0    Italian Restaurant  0.08
1      Sushi Restaurant  0.04
2  Fast Food Restaurant  0.04
3    Chinese Restaurant  0.04
4     Afghan Restaurant  0.00


----Douglaston----
                  venue  freq
0    Italian Restaurant  0.10
1  Fast Food Restaurant  0.05
2       Thai Restaurant  0.05
3   Szechuan Restaurant  0.05
4    Chinese Restaurant  0.05


----Downtown----
                       venue  freq
0  Middle Eastern Restaurant  0.02
1           Asian Restaurant  0.02
2         Chinese Restaurant  0.02
3           Kebab Restaurant  0.01
4          French Restaurant  0.01


----Dumbo----
                       venue  freq
0        American Restaurant  0.04
1         Italian Restaurant  0.04
2         Seafood Restaurant  0.02
3  Latin American Restaurant  0.01
4   Mediterranean Restaurant  0.01


----Dyker Heights----
                     venue  freq
0        Afghan Restaurant   0.0
1  New American Restaurant   0.0
2               Restaurant   0.0
3         Ramen Restaurant   0.0
4    Portuguese Restaurant   0.0


----East Elmhurst----
                     venue  freq
0        Afghan Restaurant   0.0
1  New American Restaurant   0.0
2               Restaurant   0.0
3         Ramen Restaurant   0.0
4    Portuguese Restaurant   0.0


----East Flatbush----
                  venue  freq
0  Fast Food Restaurant  0.08
1    Chinese Restaurant  0.08
2  Caribbean Restaurant  0.08
3     Afghan Restaurant  0.00
4    Russian Restaurant  0.00


----East Harlem----
                       venue  freq
0         Mexican Restaurant  0.12
1  Latin American Restaurant  0.07
2            Thai Restaurant  0.05
3         Spanish Restaurant  0.02
4         Seafood Restaurant  0.02


----East New York----
                  venue  freq
0  Fast Food Restaurant  0.08
1    Chinese Restaurant  0.08
2  Caribbean Restaurant  0.08
3     Afghan Restaurant  0.00
4    Russian Restaurant  0.00


----East Tremont----
                       venue  freq
0  Latin American Restaurant  0.06
1         Spanish Restaurant  0.06
2          Paella Restaurant  0.06
3          Afghan Restaurant  0.00
4    New American Restaurant  0.00


----East Village----
                 venue  freq
0   Mexican Restaurant  0.04
1   Chinese Restaurant  0.03
2     Ramen Restaurant  0.03
3    Korean Restaurant  0.02
4  Japanese Restaurant  0.02


----East Williamsburg----
                           venue  freq
0  Vegetarian / Vegan Restaurant  0.03
1             Mexican Restaurant  0.03
2               Ramen Restaurant  0.01
3            American Restaurant  0.01
4             Russian Restaurant  0.01


----Eastchester----
                  venue  freq
0  Caribbean Restaurant  0.14
1    Seafood Restaurant  0.05
2  Fast Food Restaurant  0.05
3    Chinese Restaurant  0.05
4    Russian Restaurant  0.00


----Edenwald----
                     venue  freq
0        Afghan Restaurant   0.0
1  New American Restaurant   0.0
2               Restaurant   0.0
3         Ramen Restaurant   0.0
4    Portuguese Restaurant   0.0


----Edgemere----
                     venue  freq
0       Seafood Restaurant  0.07
1         Asian Restaurant  0.07
2        Afghan Restaurant  0.00
3  North Indian Restaurant  0.00
4               Restaurant  0.00


----Edgewater Park----
                 venue  freq
0   Italian Restaurant  0.18
1   Chinese Restaurant  0.09
2  American Restaurant  0.05
3     Asian Restaurant  0.05
4    Afghan Restaurant  0.00


----Egbertville----
                     venue  freq
0       Italian Restaurant  0.17
1        Afghan Restaurant  0.00
2  New American Restaurant  0.00
3               Restaurant  0.00
4         Ramen Restaurant  0.00


----Elm Park----
                     venue  freq
0      American Restaurant  0.12
1       Italian Restaurant  0.12
2        Afghan Restaurant  0.00
3  New American Restaurant  0.00
4               Restaurant  0.00


----Elmhurst----
                       venue  freq
0            Thai Restaurant  0.18
1         Mexican Restaurant  0.15
2         Chinese Restaurant  0.09
3      Vietnamese Restaurant  0.06
4  South American Restaurant  0.06


----Eltingville----
                  venue  freq
0      Sushi Restaurant  0.10
1  Fast Food Restaurant  0.05
2    Italian Restaurant  0.05
3            Restaurant  0.02
4      Ramen Restaurant  0.00


----Emerson Hill----
                     venue  freq
0        Afghan Restaurant   0.0
1  New American Restaurant   0.0
2               Restaurant   0.0
3         Ramen Restaurant   0.0
4    Portuguese Restaurant   0.0


----Erasmus----
                     venue  freq
0     Caribbean Restaurant  0.19
1        Afghan Restaurant  0.00

In [100]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

#### Create the dataframe and display 5 most visited restaurant in each Neighborhood

In [108]:
num_top_venues = 5

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Restaurant'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Restaurant'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighborhood'] = ny_grouped_1['Neighborhood']

for ind in np.arange(ny_grouped_1.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(ny_grouped_1.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted

,Neighborhood,1st Most Common Restaurant,2nd Most Common Restaurant,3rd Most Common Restaurant,4th Most Common Restaurant,5th Most Common Restaurant
0,Allerton,Chinese Restaurant,American Restaurant,Fast Food Restaurant,Spanish Restaurant,Vietnamese Restaurant
1,Annadale,Restaurant,Gluten-free Restaurant,Egyptian Restaurant,Empanada Restaurant,English Restaurant
2,Arden Heights,Vietnamese Restaurant,Greek Restaurant,Empanada Restaurant,English Restaurant,Ethiopian Restaurant
3,Arlington,American Restaurant,Vietnamese Restaurant,Halal Restaurant,English Restaurant,Ethiopian Restaurant
4,Arrochar,Italian Restaurant,Mediterranean Restaurant,Middle Eastern Restaurant,Vietnamese Restaurant,Greek Restaurant
5,Arverne,Thai Restaurant,Vietnamese Restaurant,Greek Restaurant,Empanada Restaurant,English Restaurant
6,Astoria,Middle Eastern Restaurant,Greek Restaurant,Seafood Restaurant,Italian Restaurant,Latin American Restaurant
7,Astoria Heights,Italian Restaurant,Chinese Restaurant,Vietnamese Restaurant,Greek Restaurant,English Restaurant
8,Auburndale,Korean Restaurant,American Restaurant,Italian Restaurant,Fast Food Restaurant,Vietnamese Restaurant
9,Bath Beach,Chinese Restaurant,Sushi Restaurant,Italian Restaurant,Fast Food Restaurant,Restaurant
10,Battery Park City,Italian Restaurant,American Restaurant,Indian Restaurant,Seafood Restaurant,Mediterranean Restaurant
11,Bay Ridge,Italian Restaurant,American Restaurant,Greek Restaurant,Chinese Restaurant,Thai Restaurant
12,Bay Terrace,Sushi Restaurant,Asian Restaurant,Gluten-free Restaurant,Restaurant,American Restaurant
13,Baychester,American Restaurant,Fast Food Restaurant,Mexican Restaurant,Spanish Restaurant,Vietnamese Restaurant
14,Bayside,Greek Restaurant,American Restaurant,Indian Restaurant,Italian Restaurant,Mexican Restaurant
15,Bayswater,Vietnamese Restaurant,Greek Restaurant,Empanada Restaurant,English Restaurant,Ethiopian Restaurant
16,Bedford Park,Chinese Restaurant,Mexican Restaurant,Spanish Restaurant,Vietnamese Restaurant,Gluten-free Restaurant
17,Bedford Stuyvesant,Vietnamese Restaurant,New American Restaurant,Japanese Restaurant,Gluten-free Restaurant,Empanada Restaurant
18,Beechhurst,Chinese Restaurant,Italian Restaurant,Vietnamese Restaurant,Greek Restaurant,English Restaurant
19,Bellaire,Greek Restaurant,Italian Restaurant,Chinese Restaurant,Vietnamese Restaurant,English Restaurant
20,Belle Harbor,Italian Restaurant,Mexican Restaurant,Chinese Restaurant,Vietnamese Restaurant,Gluten-free Restaurant
21,Bellerose,Italian Restaurant,Chinese Restaurant,American Restaurant,Fast Food Restaurant,Vietnamese Restaurant
22,Belmont,Italian Restaurant,Restaurant,Mexican Restaurant,Spanish Restaurant,Japanese Restaurant
23,Bensonhurst,Chinese Restaurant,Sushi Restaurant,Hotpot Restaurant,Shabu-Shabu Restaurant,Vietnamese Restaurant
24,Bergen Beach,Vietnamese Restaurant,Greek Restaurant,Empanada Restaurant,English Restaurant,Ethiopian Restaurant
25,Blissville,Thai Restaurant,Restaurant,Vietnamese Restaurant,Gluten-free Restaurant,Egyptian Restaurant
26,Bloomfield,Vietnamese Restaurant,Greek Restaurant,Empanada Restaurant,English Restaurant,Ethiopian Restaurant
27,Boerum Hill,French Restaurant,Middle Eastern Restaurant,Sushi Restaurant,Japanese Restaurant,American Restaurant
28,Borough Park,Fast Food Restaurant,American Restaurant,Restaurant,Vietnamese Restaurant,Gluten-free Restaurant
29,Breezy Point,Vietnamese Restaurant,Greek Restaurant,Empanada Restaurant,English Restaurant,Ethiopian Restaurant
...,...,...,...,...,...,...
271,Travis,Spanish Restaurant,Vietnamese Restaurant,Gluten-free Restaurant,Empanada Restaurant,English Restaurant
272,Tribeca,Italian Restaurant,American Restaurant,Greek Restaurant,French Restaurant,Chinese Restaurant
273,Tudor City,Mexican Restaurant,Greek Restaurant,Spanish Restaurant,Sushi Restaurant,Restaurant
274,Turtle Bay,Italian Restaurant,Sushi Restaurant,Japanese Restaurant,French Restaurant,Indian Restaurant
275,Unionport,Latin American Restaurant,Spanish Restaurant,Indian Restaurant,Seafood Restaurant,Comfort Food Restaurant
276,University Heights,Fast Food Restaurant,Chinese Restaurant,Spanish Restaurant,African Restaurant,Latin American Restaurant
277,Upper East Side,Italian Restaurant,French Restaurant,Vegetarian / Vegan Restaurant,American Restaurant,Sushi Restaurant
278,Upper West Side,Italian Restaurant,Vegetarian / Vegan Restaurant,Indian Restaurant,Sushi Restaurant,American Restaurant
279,Utopia,Afghan Restaurant,Chinese Restaurant,South American Restaurant,Eastern European Restaurant,Empanada Restaurant
280,Van Nest,Middle Eastern Restaurant,Vietnamese Restaurant,Greek Restaurant,Empanada Restaurant,English Restaurant
281,Vinegar Hill,American Restaurant,Latin American Restaurant,Vietnamese Restaurant,Greek Restaurant,English Restaurant
282,Wakefield,Vietnamese Restaurant,Greek Restaurant,Empanada Restaurant,English Restaurant,Ethiopian Restaurant
283,Washington Heights,Spanish Restaurant,Latin American Restaurant,Mexican Restaurant,Tapas Restaurant,Chinese Restaurant
284,Weeksville,American Restaurant,Chinese Restaurant,Vietnamese Restaurant,Greek Restaurant,English Restaurant
285,West Brighton,Italian Restaurant,American Restaurant,Japanese Restaurant,Fast Food Restaurant,Mexican Restaurant
286,West Farms,Vietnamese Restaurant,Greek Restaurant,Empanada Restaurant,English Restaurant,Ethiopian Restaurant
287,West Village,Italian Restaurant,New American Restaurant,American Restaurant,French Restaurant,Sushi Restaurant
288,Westchester Square,Fast Food Restaurant,Spanish Restaurant,Latin American Restaurant,Asian Restaurant,Mexican Restaurant
289,Westerleigh,Vietnamese Restaurant,Greek Restaurant,Empanada Restaurant,English Restaurant,Ethiopian Restaurant
290,Whitestone,Vietnamese Restaurant,Greek Restaurant,Empanada Restaurant,English Restaurant,Ethiopian Restaurant
291,Williamsbridge,Caribbean Restaurant,Vietnamese Restaurant,Greek Restaurant,English Restaurant,Ethiopian Restaurant
292,Williamsburg,Vegetarian / Vegan Restaurant,Japanese Restaurant,Korean Restaurant,Latin American Restaurant,New American Restaurant
293,Willowbrook,Chinese Restaurant,Vietnamese Restaurant,Greek Restaurant,English Restaurant,Ethiopian Restaurant
294,Windsor Terrace,Sushi Restaurant,Italian Restaurant,American Restaurant,French Restaurant,Chinese Restaurant
295,Wingate,Fast Food Restaurant,Vietnamese Restaurant,Greek Restaurant,Empanada Restaurant,English Restaurant
296,Woodhaven,Restaurant,Peruvian Restaurant,Arepa Restaurant,Thai Restaurant,Latin American Restaurant
297,Woodlawn,Italian Restaurant,Indian Restaurant,Vietnamese Restaurant,Gluten-free Restaurant,Empanada Restaurant
298,Woodrow,Sushi Restaurant,Italian Restaurant,Chinese Restaurant,Mexican Restaurant,Greek Restaurant
299,Woodside,Thai Restaurant,Latin American Restaurant,American Restaurant,Restaurant,Filipino Restaurant
300,Yorkville,Italian Restaurant,Japanese Restaurant,Mexican Restaurant,Sushi Restaurant,Thai Restaurant

## Clustering

In [109]:
# set number of clusters
kclusters = 5

ny_grouped_clustering = ny_grouped_1.drop('Neighborhood', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(ny_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([3, 0, 0, 0, 1, 0, 0, 3, 0, 3], dtype=int32)

In [110]:
# add clustering labels
neighborhoods_venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)

ny_merged = neighborhoods

# merge toronto_grouped with toronto_data to add latitude/longitude for each neighborhood
ny_merged = ny_merged.join(neighborhoods_venues_sorted.set_index('Neighborhood'), on='Neighborhood')

ny_merged.head() # check the last columns!

,Borough,Neighborhood,Latitude,Longitude,Cluster Labels,1st Most Common Restaurant,2nd Most Common Restaurant,3rd Most Common Restaurant,4th Most Common Restaurant,5th Most Common Restaurant
0,Bronx,Wakefield,40.894705,-73.847201,0.0,Vietnamese Restaurant,Greek Restaurant,Empanada Restaurant,English Restaurant,Ethiopian Restaurant
1,Bronx,Co-op City,40.874294,-73.829939,0.0,Restaurant,Gluten-free Restaurant,Egyptian Restaurant,Empanada Restaurant,English Restaurant
2,Bronx,Eastchester,40.887556,-73.827806,2.0,Caribbean Restaurant,Seafood Restaurant,Fast Food Restaurant,Chinese Restaurant,Vietnamese Restaurant
3,Bronx,Fieldston,40.895437,-73.905643,0.0,Vietnamese Restaurant,Greek Restaurant,Empanada Restaurant,English Restaurant,Ethiopian Restaurant
4,Bronx,Riverdale,40.890834,-73.912585,0.0,Vietnamese Restaurant,Greek Restaurant,Empanada Restaurant,English Restaurant,Ethiopian Restaurant

### Examine Clusters

In [111]:
ny_merged.loc[ny_merged['Cluster Labels'] == 0, ny_merged.columns[[1] + list(range(5, ny_merged.shape[1]))]]

,Neighborhood,1st Most Common Restaurant,2nd Most Common Restaurant,3rd Most Common Restaurant,4th Most Common Restaurant,5th Most Common Restaurant
0,Wakefield,Vietnamese Restaurant,Greek Restaurant,Empanada Restaurant,English Restaurant,Ethiopian Restaurant
1,Co-op City,Restaurant,Gluten-free Restaurant,Egyptian Restaurant,Empanada Restaurant,English Restaurant
3,Fieldston,Vietnamese Restaurant,Greek Restaurant,Empanada Restaurant,English Restaurant,Ethiopian Restaurant
4,Riverdale,Vietnamese Restaurant,Greek Restaurant,Empanada Restaurant,English Restaurant,Ethiopian Restaurant
5,Kingsbridge,Latin American Restaurant,Mexican Restaurant,Spanish Restaurant,Fast Food Restaurant,Seafood Restaurant
6,Marble Hill,American Restaurant,Seafood Restaurant,Vietnamese Restaurant,Gluten-free Restaurant,Empanada Restaurant
7,Woodlawn,Italian Restaurant,Indian Restaurant,Vietnamese Restaurant,Gluten-free Restaurant,Empanada Restaurant
10,Baychester,American Restaurant,Fast Food Restaurant,Mexican Restaurant,Spanish Restaurant,Vietnamese Restaurant
12,City Island,Seafood Restaurant,Spanish Restaurant,Italian Restaurant,American Restaurant,French Restaurant
15,Morris Heights,Spanish Restaurant,Latin American Restaurant,Vietnamese Restaurant,Gluten-free Restaurant,Empanada Restaurant
16,Fordham,Fast Food Restaurant,Spanish Restaurant,Chinese Restaurant,Latin American Restaurant,Restaurant
17,East Tremont,Latin American Restaurant,Paella Restaurant,Spanish Restaurant,Vietnamese Restaurant,German Restaurant
18,West Farms,Vietnamese Restaurant,Greek Restaurant,Empanada Restaurant,English Restaurant,Ethiopian Restaurant
20,Melrose,Mexican Restaurant,Vietnamese Restaurant,Greek Restaurant,Empanada Restaurant,English Restaurant
21,Mott Haven,Spanish Restaurant,Peruvian Restaurant,Latin American Restaurant,Vietnamese Restaurant,German Restaurant
23,Longwood,Latin American Restaurant,Fast Food Restaurant,Vietnamese Restaurant,Greek Restaurant,Empanada Restaurant
24,Hunts Point,Spanish Restaurant,Vietnamese Restaurant,Gluten-free Restaurant,Empanada Restaurant,English Restaurant
25,Morrisania,Fast Food Restaurant,Latin American Restaurant,Mexican Restaurant,Vietnamese Restaurant,Greek Restaurant
27,Clason Point,South American Restaurant,Vietnamese Restaurant,Gluten-free Restaurant,Empanada Restaurant,English Restaurant
29,Country Club,Vietnamese Restaurant,Greek Restaurant,Empanada Restaurant,English Restaurant,Ethiopian Restaurant
30,Parkchester,Restaurant,Asian Restaurant,Italian Restaurant,Caribbean Restaurant,American Restaurant
31,Westchester Square,Fast Food Restaurant,Spanish Restaurant,Latin American Restaurant,Asian Restaurant,Mexican Restaurant
32,Van Nest,Middle Eastern Restaurant,Vietnamese Restaurant,Greek Restaurant,Empanada Restaurant,English Restaurant
33,Morris Park,Italian Restaurant,Arepa Restaurant,Vietnamese Restaurant,Greek Restaurant,English Restaurant
35,Spuyten Duyvil,Thai Restaurant,Asian Restaurant,Vietnamese Restaurant,Greek Restaurant,Empanada Restaurant
38,Schuylerville,Mexican Restaurant,Sushi Restaurant,American Restaurant,Fast Food Restaurant,Halal Restaurant
40,Castle Hill,Latin American Restaurant,Vietnamese Restaurant,Greek Restaurant,Empanada Restaurant,English Restaurant
43,Concourse,Italian Restaurant,Caribbean Restaurant,Vietnamese Restaurant,Greek Restaurant,English Restaurant
44,Unionport,Latin American Restaurant,Spanish Restaurant,Indian Restaurant,Seafood Restaurant,Comfort Food Restaurant
45,Edenwald,Vietnamese Restaurant,Greek Restaurant,Empanada Restaurant,English Restaurant,Ethiopian Restaurant
...,...,...,...,...,...,...
255,Emerson Hill,Vietnamese Restaurant,Greek Restaurant,Empanada Restaurant,English Restaurant,Ethiopian Restaurant
256,Randall Manor,Vietnamese Restaurant,Greek Restaurant,Empanada Restaurant,English Restaurant,Ethiopian Restaurant
263,Jamaica Hills,Indian Restaurant,Fast Food Restaurant,Thai Restaurant,Chinese Restaurant,Halal Restaurant
268,Concourse Village,Fast Food Restaurant,Mexican Restaurant,Italian Restaurant,Indian Restaurant,Chinese Restaurant
269,Mount Eden,Spanish Restaurant,Fast Food Restaurant,Latin American Restaurant,Mexican Restaurant,Vietnamese Restaurant
271,Sutton Place,Italian Restaurant,Indian Restaurant,American Restaurant,Mexican Restaurant,Sushi Restaurant
272,Hunters Point,Italian Restaurant,Japanese Restaurant,American Restaurant,Greek Restaurant,Asian Restaurant
273,Turtle Bay,Italian Restaurant,Sushi Restaurant,Japanese Restaurant,French Restaurant,Indian Restaurant
274,Tudor City,Mexican Restaurant,Greek Restaurant,Spanish Restaurant,Sushi Restaurant,Restaurant
275,Stuyvesant Town,German Restaurant,Vietnamese Restaurant,Greek Restaurant,Empanada Restaurant,English Restaurant
276,Flatiron,Italian Restaurant,American Restaurant,New American Restaurant,Japanese Restaurant,Vegetarian / Vegan Restaurant
277,Sunnyside Gardens,American Restaurant,Mexican Restaurant,Filipino Restaurant,Thai Restaurant,Korean Restaurant
278,Blissville,Thai Restaurant,Restaurant,Vietnamese Restaurant,Gluten-free Restaurant,Egyptian Restaurant
279,Fulton Ferry,American Restaurant,Seafood Restaurant,Restaurant,Indian Restaurant,Mexican Restaurant
280,Vinegar Hill,American Restaurant,Latin American Restaurant,Vietnamese Restaurant,Greek Restaurant,English Restaurant
282,Broadway Junction,Seafood Restaurant,Caribbean Restaurant,Vietnamese Restaurant,Eastern European Restaurant,Empanada Restaurant
283,Dumbo,Italian Restaurant,American Restaurant,Seafood Restaurant,Latin American Restaurant,Restaurant
286,Sandy Ground,Vietnamese Restaurant,Greek Restaurant,Empanada Restaurant,English Restaurant,Ethiopian Restaurant
288,Roxbury,Fast Food Restaurant,Vietnamese Restaurant,Greek Restaurant,Empanada Restaurant,English Restaurant
289,Homecrest,Mexican Restaurant,Chinese Restaurant,Vietnamese Restaurant,American Restaurant,Turkish Restaurant
290,Middle Village,Sushi Restaurant,Italian Restaurant,South American Restaurant,Gluten-free Restaurant,Empanada Restaurant
293,Richmond Valley,Fast Food Restaurant,Mexican Restaurant,Vietnamese Restaurant,Greek Restaurant,Empanada Restaurant
294,Malba,Vietnamese Restaurant,Greek Restaurant,Empanada Restaurant,English Restaurant,Ethiopian Restaurant
295,Highland Park,Spanish Restaurant,Vietnamese Restaurant,Gluten-free Restaurant,Empanada Restaurant,English Restaurant
299,Kingsbridge Heights,Spanish Restaurant,Mexican Restaurant,Vietnamese Restaurant,Latin American Restaurant,Chinese Restaurant
301,Hudson Yards,Italian Restaurant,American Restaurant,Restaurant,Thai Restaurant,Pakistani Restaurant
302,Hammels,Fast Food Restaurant,Southern / Soul Food Restaurant,Vietnamese Restaurant,Gluten-free Restaurant,Empanada Restaurant
303,Bayswater,Vietnamese Restaurant,Greek Restaurant,Empanada Restaurant,English Restaurant,Ethiopian Restaurant
304,Queensbridge,Ramen Restaurant,Spanish Restaurant,Eastern European Restaurant,Egyptian Restaurant,Empanada Restaurant
305,Fox Hills,Vietnamese Restaurant,Greek Restaurant,Empanada Restaurant,English Restaurant,Ethiopian Restaurant

In [113]:
ny_merged.loc[ny_merged['Cluster Labels'] == 1, ny_merged.columns[[1] + list(range(5, ny_merged.shape[1]))]]

,Neighborhood,1st Most Common Restaurant,2nd Most Common Restaurant,3rd Most Common Restaurant,4th Most Common Restaurant,5th Most Common Restaurant
34,Belmont,Italian Restaurant,Restaurant,Mexican Restaurant,Spanish Restaurant,Japanese Restaurant
36,North Riverdale,Italian Restaurant,Sushi Restaurant,Chinese Restaurant,Mexican Restaurant,Greek Restaurant
39,Edgewater Park,Italian Restaurant,Chinese Restaurant,American Restaurant,Asian Restaurant,Vietnamese Restaurant
66,Carroll Gardens,Italian Restaurant,Thai Restaurant,French Restaurant,Restaurant,Sushi Restaurant
117,Greenwich Village,Italian Restaurant,French Restaurant,Sushi Restaurant,Indian Restaurant,Chinese Restaurant
123,West Village,Italian Restaurant,New American Restaurant,American Restaurant,French Restaurant,Sushi Restaurant
154,Douglaston,Italian Restaurant,Thai Restaurant,Fast Food Restaurant,Chinese Restaurant,Szechuan Restaurant
206,Mariner's Harbor,Italian Restaurant,Vietnamese Restaurant,Greek Restaurant,Empanada Restaurant,English Restaurant
211,New Dorp,Italian Restaurant,Vietnamese Restaurant,Mexican Restaurant,Dim Sum Restaurant,Chinese Restaurant
213,Great Kills,Italian Restaurant,Japanese Restaurant,Falafel Restaurant,Chinese Restaurant,Spanish Restaurant
217,Tottenville,Italian Restaurant,Mexican Restaurant,Vietnamese Restaurant,Gluten-free Restaurant,Empanada Restaurant
228,Arrochar,Italian Restaurant,Mediterranean Restaurant,Middle Eastern Restaurant,Vietnamese Restaurant,Greek Restaurant
230,Old Town,Italian Restaurant,American Restaurant,Restaurant,Vietnamese Restaurant,Gluten-free Restaurant
234,New Dorp Beach,Italian Restaurant,Restaurant,Gluten-free Restaurant,Egyptian Restaurant,Empanada Restaurant
236,Huguenot,Italian Restaurant,Comfort Food Restaurant,Vietnamese Restaurant,Greek Restaurant,English Restaurant
251,Richmond Town,Italian Restaurant,Vietnamese Restaurant,Greek Restaurant,Empanada Restaurant,English Restaurant
252,Shore Acres,Italian Restaurant,Chinese Restaurant,Restaurant,Vietnamese Restaurant,German Restaurant
254,Concord,Italian Restaurant,Peruvian Restaurant,Vietnamese Restaurant,Gluten-free Restaurant,Empanada Restaurant
258,Elm Park,American Restaurant,Italian Restaurant,Vietnamese Restaurant,Greek Restaurant,English Restaurant
287,Egbertville,Italian Restaurant,Vietnamese Restaurant,Greek Restaurant,Empanada Restaurant,English Restaurant
292,Lighthouse Hill,Italian Restaurant,Vietnamese Restaurant,Greek Restaurant,Empanada Restaurant,English Restaurant
296,Madison,Italian Restaurant,Vietnamese Restaurant,Greek Restaurant,Empanada Restaurant,English Restaurant
297,Bronxdale,Italian Restaurant,Eastern European Restaurant,Spanish Restaurant,Mexican Restaurant,Chinese Restaurant

In [114]:
ny_merged.loc[ny_merged['Cluster Labels'] == 2, ny_merged.columns[[1] + list(range(5, ny_merged.shape[1]))]]

,Neighborhood,1st Most Common Restaurant,2nd Most Common Restaurant,3rd Most Common Restaurant,4th Most Common Restaurant,5th Most Common Restaurant
2,Eastchester,Caribbean Restaurant,Seafood Restaurant,Fast Food Restaurant,Chinese Restaurant,Vietnamese Restaurant
9,Williamsbridge,Caribbean Restaurant,Vietnamese Restaurant,Greek Restaurant,English Restaurant,Ethiopian Restaurant
41,Olinville,Caribbean Restaurant,Fast Food Restaurant,Mexican Restaurant,Vietnamese Restaurant,Greek Restaurant
54,Flatbush,Mexican Restaurant,Caribbean Restaurant,Chinese Restaurant,Middle Eastern Restaurant,Vietnamese Restaurant
74,Canarsie,Asian Restaurant,Chinese Restaurant,Caribbean Restaurant,Vietnamese Restaurant,Greek Restaurant
75,Flatlands,Fast Food Restaurant,Caribbean Restaurant,Vietnamese Restaurant,Greek Restaurant,English Restaurant
78,Coney Island,Caribbean Restaurant,Vietnamese Restaurant,Greek Restaurant,English Restaurant,Ethiopian Restaurant
93,Prospect Park South,Caribbean Restaurant,Fast Food Restaurant,Latin American Restaurant,Mexican Restaurant,Chinese Restaurant
165,St. Albans,Caribbean Restaurant,Seafood Restaurant,Chinese Restaurant,Southern / Soul Food Restaurant,Vietnamese Restaurant
168,Cambria Heights,Caribbean Restaurant,Restaurant,Vietnamese Restaurant,Gluten-free Restaurant,Empanada Restaurant
188,Laurelton,Caribbean Restaurant,Vietnamese Restaurant,Greek Restaurant,English Restaurant,Ethiopian Restaurant
223,Rugby,Caribbean Restaurant,Seafood Restaurant,Fast Food Restaurant,Vietnamese Restaurant,Eastern European Restaurant
259,Remsen Village,Caribbean Restaurant,Fast Food Restaurant,American Restaurant,Vietnamese Restaurant,Greek Restaurant
300,Erasmus,Caribbean Restaurant,Vietnamese Restaurant,Greek Restaurant,English Restaurant,Ethiopian Restaurant

In [115]:
ny_merged.loc[ny_merged['Cluster Labels'] == 3, ny_merged.columns[[1] + list(range(5, ny_merged.shape[1]))]]

,Neighborhood,1st Most Common Restaurant,2nd Most Common Restaurant,3rd Most Common Restaurant,4th Most Common Restaurant,5th Most Common Restaurant
8,Norwood,Chinese Restaurant,Spanish Restaurant,Restaurant,American Restaurant,Fast Food Restaurant
11,Pelham Parkway,Italian Restaurant,Chinese Restaurant,Sushi Restaurant,Gluten-free Restaurant,Empanada Restaurant
13,Bedford Park,Chinese Restaurant,Mexican Restaurant,Spanish Restaurant,Vietnamese Restaurant,Gluten-free Restaurant
14,University Heights,Fast Food Restaurant,Chinese Restaurant,Spanish Restaurant,African Restaurant,Latin American Restaurant
19,High Bridge,Chinese Restaurant,Seafood Restaurant,Latin American Restaurant,Vietnamese Restaurant,Gluten-free Restaurant
22,Port Morris,Latin American Restaurant,Restaurant,Peruvian Restaurant,Chinese Restaurant,Spanish Restaurant
26,Soundview,Chinese Restaurant,Latin American Restaurant,Vietnamese Restaurant,Greek Restaurant,English Restaurant
28,Throgs Neck,American Restaurant,Italian Restaurant,Asian Restaurant,Chinese Restaurant,Vietnamese Restaurant
37,Pelham Bay,Italian Restaurant,Fast Food Restaurant,Mexican Restaurant,Chinese Restaurant,Thai Restaurant
42,Pelham Gardens,Italian Restaurant,American Restaurant,Chinese Restaurant,Spanish Restaurant,Vietnamese Restaurant
47,Bensonhurst,Chinese Restaurant,Sushi Restaurant,Hotpot Restaurant,Shabu-Shabu Restaurant,Vietnamese Restaurant
50,Gravesend,Italian Restaurant,Chinese Restaurant,Eastern European Restaurant,Greek Restaurant,English Restaurant
53,Manhattan Terrace,Japanese Restaurant,Chinese Restaurant,Greek Restaurant,English Restaurant,Ethiopian Restaurant
56,East Flatbush,Fast Food Restaurant,Chinese Restaurant,Caribbean Restaurant,Vietnamese Restaurant,Egyptian Restaurant
72,East New York,Fast Food Restaurant,Chinese Restaurant,Caribbean Restaurant,Vietnamese Restaurant,Egyptian Restaurant
79,Bath Beach,Chinese Restaurant,Sushi Restaurant,Italian Restaurant,Fast Food Restaurant,Restaurant
100,Chinatown,Chinese Restaurant,Vietnamese Restaurant,American Restaurant,Dim Sum Restaurant,Hotpot Restaurant
132,Elmhurst,Thai Restaurant,Mexican Restaurant,Chinese Restaurant,Vietnamese Restaurant,South American Restaurant
136,Kew Gardens,Chinese Restaurant,Indian Restaurant,Italian Restaurant,New American Restaurant,Spanish Restaurant
138,Flushing,Chinese Restaurant,Korean Restaurant,Hotpot Restaurant,Asian Restaurant,Szechuan Restaurant
140,Sunnyside,Chinese Restaurant,Italian Restaurant,South American Restaurant,American Restaurant,Restaurant
153,Little Neck,Chinese Restaurant,Italian Restaurant,Korean Restaurant,Cantonese Restaurant,Japanese Restaurant
156,Bellerose,Italian Restaurant,Chinese Restaurant,American Restaurant,Fast Food Restaurant,Vietnamese Restaurant
158,Fresh Meadows,Chinese Restaurant,Vegetarian / Vegan Restaurant,Vietnamese Restaurant,Gluten-free Restaurant,Empanada Restaurant
161,Oakland Gardens,Chinese Restaurant,Korean Restaurant,Vietnamese Restaurant,Taiwanese Restaurant,Empanada Restaurant
163,Hollis,Asian Restaurant,Chinese Restaurant,Vietnamese Restaurant,Greek Restaurant,English Restaurant
166,Rochdale,Fast Food Restaurant,Chinese Restaurant,Southern / Soul Food Restaurant,Vietnamese Restaurant,Eastern European Restaurant
167,Springfield Gardens,Fast Food Restaurant,Chinese Restaurant,Vietnamese Restaurant,Greek Restaurant,English Restaurant
170,Far Rockaway,Chinese Restaurant,Fast Food Restaurant,American Restaurant,Caribbean Restaurant,Vietnamese Restaurant
174,Beechhurst,Chinese Restaurant,Italian Restaurant,Vietnamese Restaurant,Greek Restaurant,English Restaurant
184,Queensboro Hill,Chinese Restaurant,Vegetarian / Vegan Restaurant,Dumpling Restaurant,Indian Restaurant,Asian Restaurant
187,Lindenwood,Japanese Restaurant,Fast Food Restaurant,Chinese Restaurant,Greek Restaurant,English Restaurant
190,Belle Harbor,Italian Restaurant,Mexican Restaurant,Chinese Restaurant,Vietnamese Restaurant,Gluten-free Restaurant
194,Bellaire,Greek Restaurant,Italian Restaurant,Chinese Restaurant,Vietnamese Restaurant,English Restaurant
198,New Brighton,Chinese Restaurant,Vietnamese Restaurant,Greek Restaurant,English Restaurant,Ethiopian Restaurant
209,New Springville,Chinese Restaurant,Mexican Restaurant,Restaurant,Vietnamese Restaurant,Gluten-free Restaurant
216,Woodrow,Sushi Restaurant,Italian Restaurant,Chinese Restaurant,Mexican Restaurant,Greek Restaurant
220,Sunnyside,Chinese Restaurant,Italian Restaurant,South American Restaurant,American Restaurant,Restaurant
240,Rossville,Chinese Restaurant,Vietnamese Restaurant,Greek Restaurant,English Restaurant,Ethiopian Restaurant
246,Bulls Head,Chinese Restaurant,Japanese Restaurant,Tex-Mex Restaurant,Fast Food Restaurant,Italian Restaurant
253,Clifton,Eastern European Restaurant,Mexican Restaurant,Chinese Restaurant,Cajun / Creole Restaurant,Greek Restaurant
260,New Lots,Chinese Restaurant,Asian Restaurant,Vietnamese Restaurant,Greek Restaurant,English Restaurant
261,Paerdegat Basin,Asian Restaurant,Chinese Restaurant,Vietnamese Restaurant,Greek Restaurant,English Restaurant
262,Mill Basin,Japanese Restaurant,Italian Restaurant,Chinese Restaurant,Middle Eastern Restaurant,Peruvian Restaurant
264,Utopia,Afghan Restaurant,Chinese Restaurant,South American Restaurant,Eastern European Restaurant,Empanada Restaurant
265,Pomonok,Japanese Restaurant,Chinese Restaurant,Halal Restaurant,Italian Restaurant,Israeli Restaurant
266,Astoria Heights,Italian Restaurant,Chinese Restaurant,Vietnamese Restaurant,Greek Restaurant,English Restaurant
267,Claremont Village,Chinese Restaurant,Caribbean Restaurant,Vietnamese Restaurant,Egyptian Restaurant,English Restaurant
270,Mount Hope,Chinese Restaurant,Spanish Restaurant,Vietnamese Restaurant,Eastern European Restaurant,Empanada Restaurant
281,Weeksville,American Restaurant,Chinese Restaurant,Vietnamese Restaurant,Greek Restaurant,English Restaurant
284,Manor Heights,American Restaurant,Chinese Restaurant,Vietnamese Restaurant,Greek Restaurant,English Restaurant
285,Willowbrook,Chinese Restaurant,Vietnamese Restaurant,Greek Restaurant,English Restaurant,Ethiopian Restaurant
291,Prince's Bay,Sushi Restaurant,Chinese Restaurant,Eastern European Restaurant,Empanada Restaurant,English Restaurant
298,Allerton,Chinese Restaurant,American Restaurant,Fast Food Restaurant,Spanish Restaurant,Vietnamese Restaurant

In [116]:
ny_merged.loc[ny_merged['Cluster Labels'] == 4, ny_merged.columns[[1] + list(range(5, ny_merged.shape[1]))]]

,Neighborhood,1st Most Common Restaurant,2nd Most Common Restaurant,3rd Most Common Restaurant,4th Most Common Restaurant,5th Most Common Restaurant
181,Floral Park,Indian Restaurant,Vietnamese Restaurant,Greek Restaurant,Empanada Restaurant,English Restaurant